# Python & Django
*.pyc
__pycache__/
media/
staticfiles/
.env
.venv/
venv/
env/
# React
node_modules/
build/
**/migrations/

# macOS & VS Code
.DS_Store
.vscode/
backend/ecommerce/db.sqlite3
backend/ecommerce/static/images/
frontend/package-lock.json
frontend/package.json
